[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
Django = "==3.2.5"
django-crispy-forms = "*"
hashids = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.9"
